@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <a class="nav-link text-dark" asp-action="Index" asp-controller="BMI">BMI</a>
<a class="nav-link text-dark" asp-action="Index" asp-controller="HoaDon">Hoa Don</a>
<a class="nav-link text-dark" asp-action="Index" asp-controller="Score">Tinh diem</a>
    <label>Nhập họ tên:</label>
    <input type="text" name="Fullname">
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi dữ liệu">
</form>


<h1>@ViewBag.Message</h1>