<form asp-action="">
    <input type="Text" name="NameProduct" placeholder="Tên sản phẩm">
    <input type="Number" name="Quantity" placeholder="Số lượng">
    <input type="Text" name="Price" placeholder="Giá cả">
    <input type="Submit" value="In hóa đơn">
</form>
<h1>@ViewBag.thanhtien</h1>